.card-blue {
  background-color: #9dd0e2;
  color: black;
  border: 2px solid #9dd0e2;
  border-radius: 8px;
  padding: 1.2em 1em 0.5em 1em;
  margin: 1.5em 0;
  position: relative;
  box-shadow: 0 2px 8px rgba(25, 118, 210, 0.15);
}

.card-open {
  background-color: #201b45;
  color: white;
  border: 2px solid black;
  border-radius: 8px;
  padding: 1.2em 1em 0.5em 1em;
  margin: 1.5em 0;
  position: relative;
  box-shadow: 0 2px 8px rgba(25, 118, 210, 0.15);
}

.card-review {
  background-color: #82c1b1;
  color: white;
  border: 2px solid #68b47a;
  border-radius: 8px;
  padding: 1.2em 1em 0.5em 1em;
  margin: 1.5em 0;
  position: relative;
  box-shadow: 0 2px 8px rgba(25, 118, 210, 0.15);
}

.card-reproduce {
  background-color: #d56e46;
  color: white;
  border: 2px solid #d16136;
  border-radius: 8px;
  padding: 1.2em 1em 0.5em 1em;
  margin: 1.5em 0;
  position: relative;
  box-shadow: 0 2px 8px rgba(25, 118, 210, 0.15);
}

.card-reuse {
  background-color: #8265f8;
  color: white;
  border: 2px solid #7352f7;
  border-radius: 8px;
  padding: 1.2em 1em 0.5em 1em;
  margin: 1.5em 0;
  position: relative;
  box-shadow: 0 2px 8px rgba(25, 118, 210, 0.15);
}