/* Headings*/
h2 {
  margin-top: 2em;
}

h3 {
  /* Space before H3 */
  margin-top: 1em;
  /* Line under H3 */
  display: inline-block;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 0.3em;
  margin-bottom: 0.7em;
  /* Space after H3 */
  margin-bottom: 1em;
}

/* Make H4 a little bolder and a little space before */
h4 {
  font-weight: bold;
  margin-top: 1em;
}

/* PDF container - SOURCE: https://github.com/andrewheiss/ath-quarto/blob/main/cv/index.qmd */
.embed-container {
  position: relative;
  padding-bottom: 129%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Sidebar */
.sidebar-item {
  padding-bottom: 0.3rem;
}
.sidebar-item-container {
  padding-bottom: 0.3rem;
}
.sidebar-item-text.sidebar-link.text-start {
  font-weight: bold;
}

/* Navbar/sidebar toggle button background and text/icon color */
.quarto-secondary-nav .quarto-btn-toggle.btn {
  background-color: #0a4568;
  color: #ffffff;
  margin-right: 1rem !important;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.quarto-banner nav.quarto-secondary-nav {
  border-top: 1px solid #0a4568;
  border-bottom: 4px solid #0a4568;
}

/* Breadcrumb items (i.e., page > page) */
.quarto-secondary-nav nav.quarto-page-breadcrumbs a {
  color: #cad6dd;
}
.quarto-title-banner a {
  color: #cad6dd;
}
.quarto-title-breadcrumbs .breadcrumb li:last-of-type a {
  color: #cad6dd;
}

.iframe-wrapper {
  border: 2px solid #0a4568;
}

.iframe-header {
  background-color: #0a4568;
  color: #ffffff;
  padding: 8px 12px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.iframe-header a {
  color: #ffffff;
  text-decoration: underline;
}

.iframe-header a:hover,
.iframe-header a:focus {
  text-decoration: none;
}
